@model IEnumerable<Dynamo.Model.Factories.Factory>

@{
    ViewData["Title"] = "Factories";
}

@section Css {
    @{await Html.RenderPartialAsync("_DataTablesCssPartial");}
}

@section Sole {
    <link asp-append-version="true" href="~/css/datatable-table-responsive.css" rel="stylesheet" />
    <style>
        table thead th:last-child {
            width: 50px;
        }

        .card, .footer {
            display: none;
        }

            .card .table td {
                padding-top: .2rem !important;
                padding-bottom: .2rem !important;
                vertical-align: middle;
            }

            .card .table th {
                text-align: center;
            }

        .pagination {
            margin-bottom: 0;
        }
    </style>
}
<div class="header bg-custom pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Factories</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Archive</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Factories</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card animated fadeIn">
                <div class="card-header py-2">
                    <h3 class="mb-0">Factories</h3>
                </div>
                <div class="card-body px-0 pb-2 pt-3">
                    <div class="table-responsive">
                        <table class="table align-items-center table-hover table-striped table-bordered" id="datatable-basic">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <th>
                                        Supplier Code
                                    </th>
                                    <th class="text-center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/datatables.net/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.min.js" asp-append-version="true"></script>
    <script src="~/vendor/datatables.net-select/js/dataTables.select.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(showDiv, 200);
            $('.dt-bootstrap4 .row:nth-child(3)').insertAfter('.table-responsive').addClass('dt-altered');
            $('.dt-bootstrap4 .row:nth-child(1)').insertBefore('.table-responsive').addClass('dt-altered2 ml-0 mr-0');
        })
        function showDiv() {
            $('.card, .footer').css('display', 'block');
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}